 body { 
    font-family: 'Roboto', sans-serif;
    color: Black; 
    background-color: Bisque;
  }
main {
  max-width: 800px;
  margin:0 auto;
  padding: 0 20px;
}
#hero-img {
  width: 50%;
  display: block; 
  margin: 0 auto; 
}
h1 {
  background-color: SaddleBrown;
  color: white;
  font-style: Bold;
  text-align: center;
}
h2 {
  background-color: SaddleBrown;
  color: white;
  text-align: center;
}
ul {
  text-align: center;
  list-style-position: inside;
}
ol {
  text-align: center;
  list-style-position: inside;
}
p {
  text-align: center;
}